# Main requirements file. Includes all production dependencies by type.
-r requirements-core.txt
-r requirements-audio.txt
-r requirements-wakeword.txt
-r requirements-hardware.txt
-r requirements-http.txt
-r requirements-nfc.txt
-r requirements-logging.txt